$purple: #887af9;
$orange: #fe8f59;
$blue: #51d0f0;
$pink: #d37ef4;
$green: #7cda00;
$red: #fa6565;
$yellow: #ffca0f;

$link-color: #4360df;
$text-color: #939ba1;
$headline-color: #000;
$background: #fff;
