@import '../../styles/variables';

.listItem {
  font-family: $font;
  background: $background;
  display: flex;
  margin: calculateRem(11) calculateRem(16);
}

.header {
  color: $headline-color;
  font-size: calculateRem(15);
  line-height: calculateRem(22);
  margin-bottom: calculateRem(5);
  margin-top: calculateRem(12);
}

.image {
  margin-top: calculateRem(15);
  margin-right: calculateRem(16);
}

.url {
  font-size: calculateRem(12);
  color: $link-color;
  text-decoration: none;
}

.description {
  color: $text-color;
  font-size: calculateRem(13);
  line-height: calculateRem(18);
  margin-bottom: calculateRem(5);
  margin-top: 0;
}
