@import '../../styles/variables';

.listItem {
  font-family: $font;
  background: $background;
  display: flex;
  margin: 0 calculateRem(16) calculateRem(11) calculateRem(16);
  height: calculateRem(145);
  position: relative;
}

.rankedListItem {
  font-family: $font;
  background: $background;
  display: flex;
  margin: 0 0 calculateRem(11) 0;
  height: calculateRem(145);
  position: relative;
}

.header {
  color: $headline-color;
  font-size: calculateRem(15);
  line-height: calculateRem(22);
  margin-bottom: calculateRem(2);
  margin-top: calculateRem(12);
  font-weight: 500;
}

.image {
  max-width: calculateRem(40);
  max-height: calculateRem(40);
  margin-top: calculateRem(15);
  margin-right: calculateRem(16);
}

.url {
  font-size: calculateRem(12);
  color: $link-color;
  text-decoration: none;
}

.description {
  color: $text-color;
  font-size: calculateRem(13);
  line-height: calculateRem(18);
  margin-bottom: calculateRem(2);
  margin-top: 0;
  max-height: calculateRem(40);
  overflow-y: hidden;
}

.position {
  margin-top: calculateRem(20);
  margin-right: calculateRem(16);
  font-size: calculateRem(13);
}

.sntAmount {
  font-size: calculateRem(12);
  font-weight: 500;
  width: 80px;
  display: inline-block;
}

.sntAmount img {
  vertical-align: middle;
  margin-right: calculateRem(6);
}

.vote {
  font-size: calculateRem(11);
  text-transform: uppercase;
  color: $link-color;
  font-weight: 600;
  text-decoration: none;
  width: calculateRem(80);
  display: inline-block;
}

.vote img {
  vertical-align: middle;
  margin-right: calculateRem(2);
}

.actionArea {
  bottom: 0;
  position: absolute;
}
