@import '../../common//styles/variables';

.footer {
  background-color: #eef2f5;
  font-family: $font;
  padding: calculateRem(40) calculateRem(16) calculateRem(32) calculateRem(16);
  margin-top: calculateRem(24);
}

.footerItem {
  display: flex;
  align-items: flex-start;
  margin-bottom: calculateRem(24);

  :last-of-type {
    margin-bottom: 0;
  }

  img {
    margin-top: calculateRem(15);
    margin-right: calculateRem(16);
  }

  h2 {
    color: $headline-color;
    font-size: calculateRem(15);
    line-height: calculateRem(22);
    margin-bottom: calculateRem(2);
    margin-top: calculateRem(12);
    font-weight: 500;
  }

  p {
    color: $text-color;
    font-size: calculateRem(13);
    line-height: calculateRem(18);
    margin-bottom: calculateRem(2);
    margin-top: 0;
  }
}
